In [3]:
import re
import time
import random
import requests
import unidecode
import pandas as pd
from bs4 import BeautifulSoup as bs

In [4]:
# brands_list = get_brand_list() # Refresh brands from Chrono24
brands_list = pd.read_csv('brands_list.csv')

In [5]:
brands_list

              Brand
0       alangesohne
1          abpparis
2         aerowatch
3             aigle
4            aigner
..              ...
487  zenowatchbasel
488          zentra
489        zeppelin
490          zodiac
491             zrc

[492 rows x 1 columns]

In [22]:
# Load attributes list from file
attributes_list = pd.read_csv('attributes_list.csv')
attributes_list.head(15)

,Listing code,Price,Brand,Model,Reference number,Movement,Case material,Bracelet material,Year of production,Condition,...,Number of jewels,Case diameter,Water resistance,Bezel material,Crystal,Dial,Dial numerals,Bracelet color,Clasp,Clasp material
0,DGN2P1,"$115,000",A. Lange & Söhne,Zeitwerk,140.025,Manual winding,Platinum,Crocodile skin,2009,"Very good, (Worn with lit...",...,68.0,42 mm,3 ATM,White gold,Sapphire crystal,Silver,Arabic numerals,Black,Fold clasp,White Gold
1,DEAWB4,"$295,000",A. Lange & Söhne,Datograph,740.036,Manual winding,Platinum,Crocodile skin,Unknown,"Very good, (Worn with lit...",...,NaN,41.5 mm,3 ATM,White gold,Sapphire crystal,Black,Arabic numerals,Black,Buckle,White Gold
2,DC2H92,"$99,500",A. Lange & Söhne,Datograph,403.035,Manual winding,Platinum,Crocodile skin,Unknown,"Very good, (Worn with lit...",...,NaN,39 mm,3 ATM,Rose gold,Sapphire crystal,Silver (solid),No numerals,Steel,Buckle,Rose Gold
3,C9WCV0,"$25,695",A. Lange & Söhne,1815,233.026,Manual winding,White gold,Crocodile skin,2010,"Very good, (Worn with lit...",...,NaN,40 mm,3 ATM,Rose gold,Sapphire crystal,Black,No numerals,Brown,Buckle,Rose Gold
4,C9KGV9,"$75,000",A. Lange & Söhne,Zeitwerk,140.029,Manual winding,White gold,Leather,2016,"Very good, (Worn with lit...",...,NaN,41.9 mm,3 ATM,Rose gold,Sapphire crystal,Silver,NaN,Black,Buckle,NaN
5,COMJG7,"$37,199",A. Lange & Söhne,Grand Lange 1,139.032,Manual winding,Rose gold,Steel,2019,"Unworn, (Mint condition, ...",...,NaN,41 mm,3 ATM,NaN,Sapphire crystal,Blue,NaN,Black,Buckle,NaN
6,DGWPT9,"$135,000",A. Lange & Söhne,Odysseus,363.179,Automatic,Steel,Crocodile skin,2020,"Unworn, (Mint condition, ...",...,NaN,40.5 mm,NaN,NaN,Sapphire crystal,Silver,NaN,NaN,Buckle,NaN
7,3TBMW1,"$200,000",A. Lange & Söhne,Lange 1,720.032,Manual winding,Rose gold,Crocodile skin,2014,"Very good, (Worn with lit...",...,NaN,41.9 mm,NaN,NaN,Sapphire crystal,Black,NaN,NaN,NaN,NaN
8,CLF489,"$17,543",A. Lange & Söhne,Saxonia,330.032,Automatic,White gold,Crocodile skin,2014,"Unworn, (Mint condition, ...",...,NaN,37 mm,NaN,NaN,NaN,Silver,NaN,NaN,NaN,NaN
9,CLPCQ7,"$42,000",A. Lange & Söhne,Saxonia,NaN,NaN,Rose gold,NaN,Unknown,NaN,...,NaN,38.5 mm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Get pagination links for each brand

In [5]:
# Get fresh pagination information from Chrono24

# page_links_all_brands = []
# for brand in brands_list:
#     page_links_all_brands.append(get_links_from_single_page(brand))


# Or load from file
page_links_all_brands = pd.read_csv('link_list.csv')

page_links_all_brands.head()

                                               Brand
0    https://www.chrono24.com/alangesoehne/index.htm
1  https://www.chrono24.com/alangesoehne/index-2.htm
2  https://www.chrono24.com/alangesoehne/index-3.htm
3  https://www.chrono24.com/alangesoehne/index-4.htm
4  https://www.chrono24.com/alangesoehne/index-5.htm

In [8]:
brands_list = pd.read_csv('brands_list.csv')
#brands_list

In [10]:
# for brand in brands_list['Brand']

# get_all_links(brand='rolex')

In [4]:
link_list = pd.read_csv('link_list.csv')
link_list

                                                  Brand
0       https://www.chrono24.com/alangesoehne/index.htm
1     https://www.chrono24.com/alangesoehne/index-2.htm
2     https://www.chrono24.com/alangesoehne/index-3.htm
3     https://www.chrono24.com/alangesoehne/index-4.htm
4     https://www.chrono24.com/alangesoehne/index-5.htm
...                                                 ...
3658  https://www.chrono24.com/vacheronconstantin/in...
3659  https://www.chrono24.com/vacheronconstantin/in...
3660  https://www.chrono24.com/vacheronconstantin/in...
3661  https://www.chrono24.com/vacheronconstantin/in...
3662  https://www.chrono24.com/vacheronconstantin/in...

[3663 rows x 1 columns]

In [13]:
#get_all_ads()

In [5]:
# This is all watch ads for all brands... too much
ad_list = pd.read_csv('ad_list.csv')
ad_list = ad_list[ad_list.Brand != 'https://www.chrono24.com/about-us.htm']
ad_list = ad_list[~ad_list['Brand'].astype(str).str.startswith('https://www.chrono24.com/rolex/')]

ad_list

                                                    Brand
0       https://www.chrono24.com/alangesoehne/a-lange-...
1       https://www.chrono24.com/alangesoehne/datograp...
2       https://www.chrono24.com/alangesoehne/datograp...
3       https://www.chrono24.com/alangesoehne/a-lange-...
4       https://www.chrono24.com/alangesoehne/a-lange-...
...                                                   ...
222885  https://www.chrono24.com/vacheronconstantin/va...
222886  https://www.chrono24.com/vacheronconstantin/va...
222887  https://www.chrono24.com/vacheronconstantin/va...
222888  https://www.chrono24.com/vacheronconstantin/va...
222889  https://www.chrono24.com/vacheronconstantin/va...

[151730 rows x 1 columns]

In [15]:
def get_all_attributes():
    
    base_dict = {        'Listing code': [],
                         'Price': [],
                         'Brand': [],
                         'Model': [],
                         'Reference number': [],
                         'Movement': [],
                         'Case material': [],
                         'Bracelet material': [],
                         'Year of production': [],
                         'Condition': [],
                         'Scope of delivery': [],
                         'Gender': [],
                         'Location': [],
                         'Movement/Caliber': [],
                         'Base caliber': [],
                         'Power reserve': [],
                         'Number of jewels': [],
                         'Case diameter': [],
                         'Water resistance': [],
                         'Bezel material': [],
                         'Crystal': [],
                         'Dial': [],
                         'Dial numerals': [],
                         'Bracelet color': [],
                         'Clasp': [],
                         'Clasp material': []}



    for index, link in enumerate(ad_list['Brand']):
        
        try:
            dict_2 = fetch_attributes(link)
            if index % 100 == 0:
                print(dict_2)
            for k, v in dict_2.items():
                if k in base_dict.keys():
                    base_dict[k].append(v)
                #time.sleep(random.uniform(0.1, 0.5)) 
                
        except requests.exceptions.RequestException as e:
            print(f'Link exceeded max retries: {link}')
            continue
            
            
        except IndexError as error:
            print(error)
            print(f'No price for {link}')
            continue
            
            
    return base_dict

In [16]:
#power = get_all_attributes()

In [17]:
def get_ad_csv(input: dict):
    
    attributes_df = pd.DataFrame().from_dict(input, orient = 'index').transpose()
    attributes_df.to_csv('attributes_list.csv', sep = ',', index = False)

In [6]:
ad_list_old = pd.read_csv('ad_list.csv')
ad_list_old

                                                    Brand
0       https://www.chrono24.com/alangesoehne/a-lange-...
1       https://www.chrono24.com/alangesoehne/datograp...
2       https://www.chrono24.com/alangesoehne/datograp...
3       https://www.chrono24.com/alangesoehne/a-lange-...
4       https://www.chrono24.com/alangesoehne/a-lange-...
...                                                   ...
222885  https://www.chrono24.com/vacheronconstantin/va...
222886  https://www.chrono24.com/vacheronconstantin/va...
222887  https://www.chrono24.com/vacheronconstantin/va...
222888  https://www.chrono24.com/vacheronconstantin/va...
222889  https://www.chrono24.com/vacheronconstantin/va...

[222890 rows x 1 columns]

In [7]:
from utils.crawlutils import *

cln_attr = fetch_attributes(ad_list_old['Brand'][0])

IndexError: list index out of range